body {
    font-size: 0.8em;
    color: white;   
}

/*EFECTO TITULO*/
@keyframes tipsy {
    0% {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
    
  a {
    color: #FF652F;
    text-shadow: 0 20px 25px #ff9900, 0 40px 60px #ff9900;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  a:before,
  a:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }
  
  a:before {
    border-color: #3f2927 #3f2927 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  a:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
  }

/*///////////////////////////////////////////////////*/
.pressTOstart {
    color: #FF652F;
    font-size: 4em;
    font-family: 'Piedra', cursive;
    text-shadow: 3px 1px #ff9900;
    position: absolute;
    bottom: 30%;
    left: 50%;
    cursor: pointer;
}
.pressTOstart2 {
    color: #FF652F;
    font-size: 3em;
    font-family: 'Piedra', cursive;
    text-shadow: 3px 1px #ff9900;
    text-align: center;
}

#fase1 div img {
    width: 220vh;
    height: 96vh;
}
#fase2 {
    background-image: url(/img/fondo.jpg);
    width: 100%;
    height: 93vh;
}
.luchadores img {
    height: 180px;
    width: 200px;
    border-radius: 20px;
    margin-left: 5px;
}
#personajes {
    display: flex;
    margin-left: 23%;
    flex-wrap: wrap;
}
.luchadores img:hover {
    border: 3px solid rgb(28, 184, 28);
    font-size: 1.1em;
}
.luchadores p {
    text-align: center;
    color: darkred;
}
.container-emparejamiento {
    height: 100vh;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-pelea {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 25%;
    top: 50px;
}

.pelea {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.emparejamiento1, .emparejamiento2 {
    height: 70%;
    width: 20%;
    margin-bottom: 20% ;
}

.lucha {
    background: black;
}

/*LAYOUT LUCHA*/

.cabecera {
    display: flex;
    height: 10%;
    
}

.cab1 {
    position: relative;
    width:35%;
    height: 100%;
    
}

.cab2{
    position: relative;
    width:30%;
    height: 100%;
    color: #ff0000;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.cab3{
    position: relative;
    width:35%;
    height: 100%;
    
}


.bodyfight {
    height: 60%;
    
    display: flex;
}

.bloca {
    position: relative;
    width: 50%;
    height: 100%;
    
}

.luch1name {
    height: 10%;
    width: 100%;
    color: blue;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

.luch1sprite {
    height: 70%;
    width: 100%;
    text-align: center;
    
}

.luch1life {
    height: 20%;
    width: 100%;
    color: blue;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

.blocb {
    position: relative;
    width: 50%;
    height: 100%;
    
}

.luch2name {
    height: 10%;
    width: 100%;
    color: #ff0000;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

.luch2sprite {
    height: 70%;
    width: 100%;
    text-align: center;
    
}

.luch2life {
    height: 20%;
    width: 100%;
    color: #ff0000;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    
}

.announcement {
    display: flex;
    height: 10%;
}

.ann1 {
    position: relative;
    width: 25%;
    
}

.ann2 {
    position: relative;
    width: 50%;
    color: #ff9900;
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
}

.ann3{
    position: relative;
    width: 25%;
    
}

.punch {
    display: flex;
    height: 20%;
}

.pun1 {
    position: relative;
    width: 25%;
    
}

.pun2 {
    position: relative;
    width: 50%;
    
    text-align: center;
}

.pun3{
    position: relative;
    width: 25%;
    
}

.hitter {
    cursor: pointer;
}

#fist:active {
    filter: invert(40%);
}
.seccionGanador {
    background-color: black;
}

.tituloGanador {
    display: flex;
    justify-content: center;
    color: #FF652F;
    font-size: 3em;
    font-family: 'Piedra', cursive;
    text-shadow: 3px 1px #ff9900;
}
.reiniciarJuego {
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: #FF652F;
    font-size: 3em;
    font-family: 'Piedra', cursive;
    text-shadow: 3px 1px #ff9900;
}
  .equipoGanador {
    display: flex;
    justify-content: center;
  }
  .equipoGanador img {
    margin-right: 10px;
  }
  .vs {
    color: #FF652F;
    font-size: 3em;
    font-family: 'Piedra', cursive;
    text-shadow: 3px 1px #ff9900;
    
  }